[Unit]
Description=Gunicorn instance to serve flask app
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/home/vagrant
Environment="PATH=/usr/bin"
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:flaskapi.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target